server:
  port: 8098

eureka:
  instance:
    hostname: localhost
  client:
    #声明是否将自己的信息注册到 Eureka 服务器上
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://@eureka.user.name@:@eureka.user.password@@${eureka.instance.hostname}:${server.port}/eureka/

spring:
  application:
    name: eurka-service
  security:
    user:
      name: @eureka.user.name@
      password: @eureka.user.password@